.square {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: rgb(0, 183, 255);
    border: 1px solid rgb(0, 183, 255);
    cursor: pointer;
    transition: all 0.3s;
}

.square:hover {
    background-color: white;
    opacity: 0.6;
}
